<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="{{lecture.name}}" style="width: 100%">
<ion-content>
        <div class="list card">
                    <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#/tab/chapters">

                        <i class="icon ion-heart"></i> Home

                    </a>
                    <a class="tab-item" href="#">

                        <i class="icon ion-chatbox" ng-click="showPopup(lecture.id)"></i> Add Note

                    </a>

                    <a class="tab-item" href="#">

                        <i class="icon ion-share"></i> Mark As learned

                    </a>
                    </div>
            <div class="item item-body">
                <ion-scroll direction="y" class="thenote">
                    <p ng-bind-html="mynote |highlight:hlText">
                    </p>
                </ion-scroll>
            </div>
        </div>

            <ion-scroll direction="y" class="theroot">
                <table width="100%" >
                    <tbody ng-repeat="content in lecture.contents" >
                    <tr><td ng-bind-html="content.form | highlight:hlText"></td></tr>
                    <tr><td ng-bind-html="content.comments | highlight:hlText"></td></tr>
                    </tbody>
                </table>
            </ion-scroll>


    </ion-content>

</ion-view>